@page "/new"

<h3>FileName</h3>
<p>Current count: @_currentCount</p>

<textArea @bind="TextAreaValue" @onchange="ValueChangedHandler">
</textArea>

@code {
    private static string TextAreaValue => null;
    private int _currentCount;
    private void ValueChangedHandler()
    {
        Console.WriteLine($"The ValueChange event fired with {TextAreaValue}");
        _currentCount++;

    // TextAreaValue = input;
    // Console.WriteLine($"The ValueChange event fired with {input}");
    }
}