@page "/create"
@page "/file/{FileName:string}"

@implements IDisposable
@inject NavigationManager NavigationManager

<h1>Create new document</h1>

<p>
    <input placeholder="Write file name" @bind="FileName"/>
</p>
<p>
    <input placeholder="Write file path" @bind="FilePath"/>
</p>
<p>
    <button class="btn btn-primary" @onclick="CreateOnButton">Create</button>
</p>

<NavLink href="/file/" + FileName target="_blank">Example page</NavLink>

@code {
    private string FileName { get; set; }
    private string FilePath { get; set; }

    private void CreateOnButton()
    {
        const bool forceLoad = false;
        NavigationManager.NavigateTo("/file/" + FileName, forceLoad);
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }
    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        var navigationMethod = e.IsNavigationIntercepted ? "HTML" : "code";
        System.Diagnostics.Debug.WriteLine($"Notified of navigation via {navigationMethod} to {e.Location}");
    }
    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }
}