@page "/documents"
@using DistributedDocs.Server.ClientModels
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h2>Documents</h2>
@foreach(var document in _documents)
    {
        <div>
            <NavLink href="@DocumentManager.Url(document.DocumentId)"
                     @oninput="@OnLinkClick"
                     target="_blank">@document.DocumentName
            </NavLink>
        </div>
    }

@code {
    IReadOnlyCollection<DocumentInfo> _documents;

    protected override async Task OnInitializedAsync()
    {
       // _documents = DocumentManager.DocumentsInfos;
        _documents = await Http.GetFromJsonAsync<DocumentInfo[]>("/client/documents");
    }
    private async Task OnLinkClick(ChangeEventArgs args)
    {
        var newValue = args.Value.ToString();
        await Http.PostAsJsonAsync("/client/connect", new DocumentConnectRequest
        {
            DocumentId = _documents.First(n => n.DocumentName == newValue).DocumentId
        });
    }
}