@page "/documents"
@inject NavigationManager NavigationManager

<h2>Documents</h2>
@foreach(var document in _documents)
    {
        <div>
            <NavLink href="@Data.Documents.Url(_documents.IndexOf(document))"
                     target="_blank">@document.Name</NavLink>
        </div>
    }

@code {
    List<Data.Document> _documents;

    protected override void OnInitialized()
    {
        _documents = Data.Documents.GetDocuments();
    }

}