@page "/documents/{Id}"
@using DistributedDocs.Server.ClientModels
@inject NavigationManager NavigationManager

<h3>@_document.DocumentName</h3>
<textArea
    value="@TextAreaValue" rows="17" cols="110" @oninput="@OnTextChanged" >
</textArea>

@code {

    [Parameter]
    public string Id { get; set; } = string.Empty;

    private DocumentInfo _document;

    private static string TextAreaValue { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        _document = DocumentManager.GetDocument(Guid.Parse(Id));
        // TODO: get content
        // TextAreaValue = _document.Content;
    }
    
    private void OnTextChanged(ChangeEventArgs args)
    {
        var newValue = args.Value.ToString();
        TextAreaValue = newValue;
        //TODO: send commit
    }
}