@page "/documents"
@using DistributedDocs.Server.ClientModels
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h2>Documents</h2>
@foreach (var document in _documents)
{
<div style="padding:10px">
    <button @onclick="() => OnButton(document)" style="height:40px;width:200px">@document.DocumentName</button>
</div>
}

@code {
    IReadOnlyCollection<DocumentInfo> _documents = Array.Empty<DocumentInfo>();

    protected override async Task OnInitializedAsync()
    {
        var documentResponse = await Http.GetFromJsonAsync<Response<IReadOnlyCollection<DocumentInfo>>>("client/documents");
        _documents = documentResponse?.ResponseBody ?? Array.Empty<DocumentInfo>();
        DocumentManager.StoreDocuments(_documents);
    }

    private async Task OnButton(DocumentInfo info)
    {
        await Http.PostAsJsonAsync("client/connect", new DocumentConnectRequest
        {
            DocumentId = _documents.First(n => n.DocumentName == info.DocumentName).DocumentId
        });
        NavigationManager.NavigateTo($"/documents/{info.DocumentId}");
    }

}