@page "/new"
@using DistributedDocs.Server.ClientModels
@using Newtonsoft.Json
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h3>Create new document</h3>

<p>
    <label>
        Normal Blazor binding:
        <input @bind="FileName"/>
    </label>
</p>

<div>
    <input value="@FileName" placeholder="Enter file name" @oninput="@OnNameChanged"/>
</div>
<div>
    <input value="@FilePath" placeholder="Enter file path" @oninput="@OnPathChanged"/>
</div>

<button @onclick="OnButton">Create</button>

@code {
    private string FileName { get; set; } = string.Empty;
    private string FilePath { get; set; } = string.Empty;

    private void OnNameChanged(ChangeEventArgs args)
    {
        var newValue = args.Value.ToString();
        FileName = newValue;
    }

    private void OnPathChanged(ChangeEventArgs args)
    {
        var newValue = args.Value.ToString();
        FilePath = newValue;
    }

    private async Task OnButton()
    {
        var response = await Http.PostAsJsonAsync("/client/document",
            new DocumentCreateRequest
            {
                DocumentName = FileName,
                Path = FilePath
            });

        var responseStr = await response.Content.ReadAsStringAsync();

        var data = JsonConvert.DeserializeObject<Response<DocumentCreateResponse>>(responseStr);

        NavigationManager.NavigateTo("/documents/" + data.ResponseBody.DocumentGuid);
    }

}